name: CI

on:
  push:
    branches: [ "master" ]
    paths:
      - '**'
      - '!**.md'
  pull_request:
    paths:
      - '**'
      - '!**.md'

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    env:
      RUSTFLAGS: --deny warnings

    steps:
    - uses: actions/checkout@v4
    - name: Rustup update and add nightly
      run: |
        rustup update
        rustup install nightly
    - name: Show cargo version
      run: cargo --version
    - name: Install cargo-binutils and llvm-tools
      run: |
        cargo install cargo-binutils
        rustup component add llvm-tools
        rustup component add llvm-tools --toolchain nightly
    - name: Rust build caching
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: . -> target
        save-if: ${{ github.ref == 'refs/heads/master' }}
    - name: Build
      run: cargo build --verbose
    - name: Run tests.sh
      run: ./tests.sh
    - name: Check dirty git
      uses: ./.github/actions/check-dirty-git

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Rustup update
      run: rustup update
    - name: Show cargo version
      run: cargo --version
    - name: Rust build caching
      uses: Swatinem/rust-cache@v2
      with:
        key: lint
        workspaces: . -> target
        save-if: ${{ github.ref == 'refs/heads/master' }}
    - name: Format
      run: cargo fmt -- --check
    - name: Clippy
      run: cargo clippy --all -- -D warnings

  semver-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@v2
